@use './partials/variables' as *;
@use './partials/mixins' as *;
@import "../node_modules/bootstrap/scss/bootstrap";

img {
    max-width: 100%;
}

body {
    overflow-x: hidden;
}

.ms_input-field {
    background-color: rgba($color: $edward-color, $alpha: 0.3);
    padding: .5rem .7rem;
    border-radius: 5px;
    border: none;
    color: $cloudy-color;
    outline: none !important;
}

.ms_btn-blue {
    padding: .4rem 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 5px;
    border: none;
    background-color: $blue-lagoon-color;   
    border: 1px solid transparent;
    color: white;
    transition: all .4s ease-in;

    &:hover {
        background-color: transparent;
        border: 1px solid $blue-lagoon-color;
        color: $blue-lagoon-color;
        transition: all .4s ease-in;
    }
}

.ms_btn-transparent {
    padding: .4rem 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $blue-lagoon-color;
    color: $blue-lagoon-color;
    transition: all .4s ease-in;

    &:hover {
        border: 1px solid transparent;
        background-color: $blue-lagoon-color;   
        color: white;
        transition: all .4s ease-in;
    }
}

.bg-transparent {
    background-color: transparent;
}

.ms_logo {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: .6rem .1rem .6rem 1.3rem;
    margin-right: .5rem;
    background-color: rgba($color: $elm-color, $alpha: 0.3);
    color: $fountain-blue-color;
}

.ms_title {
    color: $fountain-blue-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 1.5rem;
}

.ms_subtitle {
    font-size: 2.5rem;
    font-weight: bold;
    height: 57px;
}

.ms_highligth {
    background-color: rgba($color: $blue-lagoon-color, $alpha: 0.2);
    height: 100%;
    display: inline-block;
    padding: 0 .6rem;
    border-radius: 5px;
    margin-right: .3rem;
}

.ms_container {
    width: 70%;
    margin: 0 auto;
}