// colors
// color cube
$woodsmoke-color: #121118;
$white-color: #ffffff;
$blue-lagoon-color: #028383;
$courduroy-color: #5c5e5e;
$edward-color: #adb0b0;
$koromiko-color: #feb169;
$fountain-blue-color: #45bbbc;
$piper-color: #c86f28;
$anakiwa-color: #97fefe;

// median cut
$shark-color: #1c2224;
$black-haze-color: #e8ecea;
$sea-nymph-color: #729fa1;
$smalt-blue-color: #4f828b;
$cape-pallister-color: #ac6b44;

// material design
$elm-color: #21918e;
$cloudy-color: #a5a09d;
$elf-green-color: #058282;
$limed-spruce-color: #3c4955;
$di-serria-color: #dd945c;


// size
$header-heigth: 120px;
